<!DOCTYPE html>

<html>
<head>
	<title>
		HI Q Game
	</title>

	<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css') }}")>
	<script src="{{ url_for('static', filename='jQuery/jquery-1.11.0.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='jQuery/jQuery-FxQueues-jQuery1.4/jquery.fxqueues-2.1.js')}}" type="text/javascript"></script>
</head>

<body>
	<div id="title" class="title">
		<h1>Hi-Q Solver</h1>
	</div>
	
	<div id="message" class="message">
	</div>
	

	<div class="container" style="top:30%;">


		<img src="{{url_for('static', filename='img/grid.jpg')}}" class="grid">	

		<div style="position:absolute; top:-3%; left:-1.8%">
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p2" class="peg" style="top:30px; left:553px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p3" class="peg" style="top:30px; left:620px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p4" class="peg" style="top:30px; left:687px;">		

		<img src="{{url_for('static', filename='img/peg.png')}}" id="p9" class="peg" style="top:97px; left:553px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p10" class="peg" style="top:97px; left:620px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p11" class="peg" style="top:97px; left:687px;">		

		<img src="{{url_for('static', filename='img/peg.png')}}" id="p14" class="peg" style="top:164px; left:419px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p15" class="peg" style="top:164px; left:486px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p16" class="peg" style="top:164px; left:553px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p17" class="peg" style="top:164px; left:620px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p18" class="peg" style="top:164px; left:687px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p19" class="peg" style="top:164px; left:754px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p20" class="peg" style="top:164px; left:821px;">

		<div style="z-index=100; margin:0px auto;">
		<img src="{{url_for('static', filename='img/loading.gif')}}" id="loadingGIF" class="loading">	
		</div>
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p21" class="peg" style="top:231px; left:419px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p22" class="peg" style="top:231px; left:486px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p23" class="peg" style="top:231px; left:553px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p24" class="peg" style="top:231px; left:620px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p25" class="peg" style="top:231px; left:687px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p26" class="peg" style="top:231px; left:754px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p27" class="peg" style="top:231px; left:821px;">

		<img src="{{url_for('static', filename='img/peg.png')}}" id="p28" class="peg" style="top:298px; left:419px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p29" class="peg" style="top:298px; left:486px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p30" class="peg" style="top:298px; left:553px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p31" class="peg" style="top:298px; left:620px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p32" class="peg" style="top:298px; left:687px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p33" class="peg" style="top:298px; left:754px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p34" class="peg" style="top:298px; left:821px;">

		<img src="{{url_for('static', filename='img/peg.png')}}" id="p37" class="peg" style="top:365px; left:553px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p38" class="peg" style="top:365px; left:620px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p39" class="peg" style="top:365px; left:687px;">		

		<img src="{{url_for('static', filename='img/peg.png')}}" id="p44" class="peg" style="top:432px; left:553px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p45" class="peg" style="top:432px; left:620px;">		
		<img src="{{url_for('static', filename='img/peg.png')}}" id="p46" class="peg" style="top:432px; left:687px;">	
		</div>

		
	</div>

	<form id="findSolution" method="POST">
		<div id="innerButtons" class="inner">
			<button class="inner" id="ex1">Example 1</button>
			<button class="inner" id="ex2">Example 2</button>
			<button class="inner" id="ex3">Example 3</button>
		</div>

		<button type="submit" class="submit">Find Solution</button>
	</form>



		

	<div class="credits">
		<u>By	Liron Shimrony & Jonatan Shimrony<br>
		CSC44800 Spring 2014</u>
	</div>
	

</body>
<script type="text/javascript">
	// $("#p9").animate({marginTop	: "+=210px"}, {duration: 1000, queue: "global"});
	// $("#p16").fadeOut({duration: 1000, queue: "global"});
	
	// console.log($.fxqueue("global").length)
	
	// $.fxqueue("global").start();
</script>
</html>