.grid
{
	display: block;
    /*left: 27%;*/
    left: 25%;
    /*margin-top: 5px;*/
    margin-right: auto;
    position: relative;
    height: 50%;
    width: 50%;
    z-index: 1;
}

.container
{
    display: block;
    width: 100%;
	position: absolute;

}

.peg
{
    /*margin-left: 50%;*/
    display: block;
	height: 8%;
    width: 3%;
	z-index: 40;
	position: absolute;

}

.submit
{
	display: block;
	margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
    height: 80px;
    font-size: x-large
}

.loading
{
    /*padding-top: 450%;*/
    /*top: auto;*/
    left: 47%;
    top:45%;
    height: 10%;
    width: 4%;
    position: absolute;
    z-index: 100;
    
}

.message
{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
    font-size: 40px;
    /*display: block;*/
}

.credits
{
    text-align: center;
    margin-top:50%;
    margin-left: 42%;
    font-size: 20px;
    position: relative;
}

.title
{
    font-size: 30px;
    text-align: center;
}

.inner
{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}